/* CodeMirror */
.CodeMirror {
  height: auto;
  min-height: 50px;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #2e3440;
}

/* Console */
#consoleOutput {
  background-color: black;
  color: lime;
  font-family: monospace;
  padding: 10px;
  width: 100%;
  height: 150px;
  overflow-y: auto;
  border: 1px solid #333;
}
#consoleOutput div::before {
  content: ">";
  margin-right: 5px;
}

/* Body */
body {
  background-color: #ffcccc;
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Description */
.description {
  margin: 10px 0;
  font-size: 16px;
}

/* Steps */
.step {
  margin: 15px 0;
}

.step-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.step-description {
  margin-bottom: 10px;
  font-size: 14px;
}

/* Reference */
details {
  margin: 15px 0;
  cursor: pointer;
}

.reference {
  margin: 10px 0;
  padding: 10px;
  background-color: #ffcccc;
  border-radius: 5px;
}

.reference h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #333;
}

.reference ul {
  margin: 0;
  padding-left: 20px;
}

.reference code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}
